@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

:root {
    /* Paleta de colores */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --dark-font-solid: #000000;
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;
    --placeholder-font-dark: #111111;

    /* Tipografias */
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;
    
    /* Tamaños de fuente */
    --font-display: 4.6em;
    --font-title: 4.2em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Espaciados */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* el espacio que se usa con margin o padding no modifica el tamaño del elemento */
}

/* etiqueta padre del sitio */
html {
    font-family: var(--base-font);
    font-size: 62.5%;  /* se normaliza y equivale a 10 px es decir 1em */
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;  /* para que herede el color del elemento padre */
}

header, 
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* HEADER */
header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;  
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-solid);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* HERO BANNER */
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9); /* Efectos de la imagen */
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__tittle {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}


/* SECCION COLLECTIONS */
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__tittle {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}


/* SECCION slider últimos lanzamientos */
.slider { 
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__tittle {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}


.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}


/* Seccion FOOTER */
.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

/* ANIMATIONS */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* - - - - PAGE ITEM  - - - - - */

.item--licence{
    font-size: var(--font-small);
    text-transform: uppercase;
} 

.collection-item__name{
    font-size: var(--font-jumbo);
    font-family: var(--base-font);
    font-weight: 700;
    text-transform: uppercase;
}

.item--text{
    font-weight: 400;
    border-bottom: unset;
    padding-bottom: unset;
}

.collection-item__price{
    font-size: var(--font-jumbo);
    font-family: var(--alternative-font);
    font-weight: 400;
}

.collection-item__quantity{
    display: flex;
    gap: var(--spacing-8);
}

.collection-item__quantity--fields{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.collection-item__quantity--fields > svg {
    background-color: var(--dark-bg-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 18px;
    height: 16px;
} 

.collection-item__link{
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-weight: 400;
    background-color: var(--primary-solid);
    display: inline-block;
    margin: 0 var(--spacing-20);
    padding: var(--spacing-8) var(--spacing-16);
    transition: background .3s ease-in-out;
}

.collection-item__link:hover {
    background-color: var(--dark-bg-solid);
}

.item-promo{
    font-size: var(--font-small);
}

.item-promo > span{
    text-decoration: underline;
}

.item-promo > span:hover{
    cursor: pointer;
}

/* SECCION ADMIN */

.admin-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh-144px-343px);
}

.admin-main h1 {
    color: #1F1F1F;
    text-align: center;
	font-family: var(--alternative-font);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
	margin-top: 36px;
	margin-bottom: 36px;
}

.admin-main p {
    color: #1F1F1F;
    text-align: center;
	font-family: var(--alternative-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
	margin-bottom: 36px;
}

.admin-main section {
  text-align: center;
}

.admin-main form {
    color: #000;
    font-family: var(--base-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
	padding-left: 25%;  /* Espaciado del lado izquierdo */
    padding-right: 30%; /* Espaciado del lado derecho */
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.admin-main label {
	white-space: nowrap;
    width: 40%;
	text-align: left; /* Alineamos el texto a la izquierda para que todos comiencen a la misma altura lateral */
	margin-bottom: 36px;
	display: inline-block; /* Cambia el comportamiento del elemento a inline-block para que acepte ancho */
    min-width: 125px; /* Asigna un ancho mínimo para todos los labels */
    margin-right: 10px; /* Un pequeño margen a la derecha para separar del input */
}

.admin-main input {
	width: 208.6px;
    border: none; /* Quitamos el borde por defecto */
    border-bottom: 2px solid #F33; /* Agregamos la línea inferior */
    background: transparent; /* Hacemos el fondo transparente */
    color: #B9B9B9;
    text-align: left;
	font-family: var(--base-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 36px;
}

.admin-main input[type="checkbox"] {
	background-color: #007BFF;
	color: white;
	height: 16.275px;
    width: 16.275px;
	border: 2px solid #1F1F1F;
	padding: 10px 20px;
	cursor: pointer;
    flex-shrink: 0;
    border-radius: 3px;
	margin-right: 10px;
}

.admin-main input[type="submit"] {
	width: 102.995px;
    height: 39.062px;
    flex-shrink: 0;
	background: #F33;
	color: #FFF;
	font-family: var(--base-font);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;    /* Centrado horizontal del texto */
	margin-right: 41px;
}

.admin-main input[type="submit"]:hover {
  background-color: #0056b3;
}

.terms-link {
    color: #1D84B5;
    text-decoration: none;  /* Esto es para quitar el subrayado, pero es opcional */
    font-family: var(--base-font);
}

.submit-section {
    display: flex;
	flex-direction: row; /* Cambiamos de column a row */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Separa los elementos entre sí */
}

.checkbox-section {
    display: flex;
    align-items: center;
	white-space: nowrap;  /* Esto evita que el texto se rompa en nuevas líneas */
}

.pass-section {
    display: flex;
	flex-direction: column; 
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Separa los elementos entre sí */
}

.pass-link {
    color: #1D84B5;
    text-decoration: none;  /* Esto es para quitar el subrayado, pero es opcional */
	font-size: 14px;
	font-family: var(--base-font);
    padding: var(--spacing-8);

}

.admin-main textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    border: 2px solid #F33; /* Borde similar a tus inputs */
    background: transparent; /* Fondo transparente */
    color: #B9B9B9;
    text-align: left;
    font-family: var(--base-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 36px;
    padding: 10px; /* Agregamos algo de padding para que el texto no esté demasiado pegado al borde */
    resize: vertical; /* Permite al usuario redimensionar solo verticalmente */
}

        /* -----  FORMULARIOS ADMIN --------  */
    .admin-form{
        display: flex;
        flex-wrap: nowrap;
    
        color: #000;
        font-family: var(--base-font);
        font-size: var(--font-large);
        font-weight: 400;
        letter-spacing: 0.96px;
        margin: var(--spacing-20) 0;
        align-items: center;
    }
    
    .admin-label{
        /* white-space: nowrap; */
        text-align: left;
        margin-right: var(--spacing-8);
    }
    
    .admin-input{
        border: none; /* Quitamos el borde por defecto */
        border-bottom: 2px solid var(--primary-solid); /* Agregamos la línea inferior */
        background: transparent; /* Hacemos el fondo transparente */;
        text-align: left;
        font-size: 18px;
        font-family: var(--base-font);
        font-weight: 400;
        outline: none;
    }
    
    .admin-input::placeholder{
        color: var(--placeholder-font-dark);
        font-size: 18px;
        padding: 1rem 1rem 0 0;
        width: max-content;
    } 
    .admin-select{
        color: var(--dark-font-solid);
        font-size: var(--font-large);
        font-weight: 300;
        font-family: var(--base-font);        
        margin: var(--spacing-28) 0;
    }                
    .admin-select-option{
        font-weight: 400;
    }                               
    .admin-select__option{
        position: relative;
        color: var(--dark-solid);
        font-size: 20px;
        font-weight: 500;
        font-family: var(--base-font);    
        border: var(--dark-bg-solid) solid 2px;
        border-radius: 6px;
        display: inline-block;
        width: 243px;
        padding: var(--spacing-12);
        margin-left: var(--spacing-28);
    }
    
    .admin-select__option > svg{
        position: absolute;
        top: 0;
        right: 0;
        margin: var(--spacing-12);
    }
    .admin-area{
        max-width: 1000px;
    }                
    .admin-textarea{
        border: #1f1f1f solid 1px;
        font-family: var(--base-font);
        font-size: var(--font-medium);
        border-radius: 4px;
        width: 100%;
        height: 194px;
        padding: var(--spacing-12);
    }
    .admin-select__box{
        color: #000;
        font-size: 20px;
        font-family: var(--base-font);
        font-weight: 500;
        width: 346px;
        border-radius: 6px;
        border: #000 solid 2px;
        padding: 10px;
        margin-left: var(--spacing-28);
    }  
    .upload-files{
        color: var(--dark-solid);
        font-size: 14px;
        letter-spacing: 0.56px;
    }
    .admin-submit{
        color: var(--light-font-solid);
        background-color: var(--primary-solid);
        font-size: var(--font-xsmall);
        font-family: var(--base-font);
        font-weight: 600;
        display: inline-block;
        margin: var(--spacing-36) var(--spacing-36) var(--spacing-36) 0;
        padding: var(--spacing-12) var(--spacing-20);
        transition: background .3s ease-in-out;
    }
    .admin-submit:hover{
        cursor: pointer;
        background-color: var(--dark-bg-solid);    
    }
    
/*  -------  PAGE EDIT ------- */

.edit{
    padding: 0 var(--spacing-36);    
}

.edit-item__text{
    color: var(--dark-solid);
    font-size: var(--font-title);
    font-family: var(--alternative-font);
    font-weight: bold;
    text-transform: uppercase;
    margin: var(--spacing-36) 0 var(--spacing-8);
}
.edit-contenedor{
    display: flex;
    gap: 30px;
}
.precio__row{
    display: flex;
    gap: var(--spacing-36);
}
.upload-images{
    display: flex;
    gap: var(--spacing-24);
}
.upload-images__img{
    width: 150px;
    border-bottom: 2px solid var(--primary-solid);
}
.upload-images__text{
    font-size: var(--font-medium);
    font-family: var(--alternative-font);
    font-weight: 500;
    text-align: center;
}

/* ------ PAGE CREATE ---------*/

.create-select{
    color: var(--dark-300);
}

.create-input::placeholder{
    color: var(--dark-300);
}

.terms-condition {
  margin: 2rem auto;
  padding: 2rem;
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-condition h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.terms-condition h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #444;
}

.terms-condition p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.forgetpass-section {
    margin: 2rem auto;
    padding: 2rem;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgetpass-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.forgetpass-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #555;
}

.forgetpass-section label,
.forgetpass-section input,
.forgetpass-section button {
    display: block;
    margin-bottom: 1rem;
}

                                                                             /*PAGINA SHOP.HTML*/

.shop__container{
    display: grid;
    grid-template-columns:243px 1fr ;
    grid-template-rows: 494px 1fr ;
    grid-template-areas: 
    "aside sliders__container" 
    "    .  sliders__container"
    "    .  sliders__container";
    align-items: center;
    padding: var(--spacing-16) 0;
    margin: var(--spacing-68) auto;
    max-width: 1200px;
    column-gap: 5px;
    
    } 
    
    .aside {
        grid-area: aside ;
        
    }
    .sliders__container{
        grid-area: sliders__container;
    }
    
    
    .formulario__container{
        display: flex;
        height: 100%; 
        max-width: 243px;
        position: relative;
        flex-direction: column;
        
        
    }
    /* buscar */
    .buscar__titulo {
        font-size: var(--font-large);
        color: #111111;
        font-family: Inter;
        font-weight: 500;
        word-wrap: break-word;
        margin-bottom: 10px;
        
    }
    .buscar__placeholder {
        height: 44.3px;
        width: 243px;
        font-size: var(--font-medium);
        font-weight:100;
        border-radius: 6px;
        border-color: #30343F;
    }
    /* ordenar */
    .ordenar__titulo {
        font-size: var(--font-large);
        color: #111111;
        font-family: Inter;
        font-weight: 500;
        word-wrap: break-word;
        margin-top: 28px;
        
    }
    
    
    .ordenar__placeholder {
        position: relative;
        margin-top: 16px ;
        margin-bottom: 28px;
        
      
    }
    
    .ordenar__placeholder-inner {
        width: 243px;
        height: 44.3px;
        font-size: var(--font-medium);
        font-weight: 100;
        border-radius: 6px;
        border-color: #30343F;
    }
    
    .custom-button {
        position: absolute;
        top: 0;
        right: -90px;
        width: 100%;/* Ancho del botón */
        height: 100%;
        background-color: transparent; /* Sin fondo */
        color: #2B2B2B; /* Color del texto del botón */
        border: none;
        border-radius: 15px; 
        cursor: pointer;
        text-align: center;}
    
        /* precio */
        .formulario__precio {
            display: inline-block;
            width: 100%;
    
        }
        .precio__titulo {
            font-size: var(--font-large);
            color: #111111;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word;
            margin-bottom: 16px;
        }
    
       .formulario__precio-inner{
            display: flex;
            gap: 8px;
       }
        
        .formulario__precio-inner p {
            display: inline-block;     
            word-wrap: break-word;
        }
        
        .formulario__precio-inner input {
            display: inline-block;
            flex-direction: row;
            margin: 0;
            vertical-align: middle;
            width: 59.14px; 
            height: 27.52px; 
            border-radius: 6px;
            border-color: #30343F;
            font-size: var(--font-small);
            
        }
        /* filtrar */
    .formulario__filtrar{
        width: 210.12px;
        height: 168.94px;
    }
    
    .filtrar__titulo {
        font-size: var(--font-large);
        color: #111111;
        font-family: Inter;
        font-weight: 500;
        word-wrap: break-word;
        margin-top: 23.9px;
        margin-bottom: 16px;
    }
    .filtrar{
        width: 194.12px;
        height: 123.94px;
        margin-left: var(--spacing-16);
        
    }
    
    .filtrar__label {
        font-size: 18px;
    
    }
    .filtrar__label input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 5px; 
        /* width: 24px;
        height: 24px; */
        border-radius: 6px;
        border-color: var(--dark-solid);
    }
    .slider1{
        margin-top: 20px;
    }
    
    /* pagination */
    
    .pagination{
        height: 44px;
        width: 356px;
        width: 100%; 
        height: 100%; 
        justify-content: center; 
        align-items: center; 
        gap: 8px; 
        display: inline-flex;
        margin-bottom: var(--spacing-68);
    }
    .pagination a {
        display: flex;
        width: 44px;
        height: 44px;
        padding: 5px 4px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #DFE3E8;
        background: #FFF;
        color: var(--dark-grey-400, #212B36);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }
/* SECCION PRODUCTOS */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__tittle {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.sliders__items {
    display: flex;
    gap: var(--spacing-24);
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}