<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Carrito | Funkoshop</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
    />
    <link rel="stylesheet" href="../../css/index.css" />
  </head>

  <body>
    <header>
      <!--CABECERA: Inicio del Header-->
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/">
            <img
              src="../../img/branding/logo_light_horizontal.svg"
              alt="Isologotipo de la Marca Funkoshop"
            />
          </a>
        </picture>

        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/shop"
              >SHOP <iconify-icon icon="ion:chevron-down"></iconify-icon
            ></a>
            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/admin/contact"
              >CONTACTO</a
            >
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/auth/login"
              >LOGIN</a
            >
          </li>
          <li class="navbar__item">
            <a class="navbar__cart" href=/shop/cart>
              <img src="../../img/icons/cart-icon.svg" alt="Icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--Fin del Header-->

    <main class="cart container">
      <!--CUERPO: Inicio del Main-->
      <div>
          <h1 class="cart-title__name">CARRITO DE COMPRAS</h1>
      </div>
      <section class="cart-columns">
        <p class="cart-columns__text">Detalle de Producto</p>
        <p class="cart-columns__text">Cantidad</p>
        <p class="cart-columns__text">Total</p>
      </section>

      <!-- Esto se repetiría por cada producto en el carrito -->
      <div class="container-cart">
     </div>


      <!-- Resumen compra -->
      <section class="summary">
          <article>
              <h2 class="cart-title__name">Resumen</h2>
          </article>
        <article class="cart-summary">
          <span class="cart-summary__container"><p class="cart-summary__text">Cantidad: </p> <p class="cantidadItems"></p></span>
          <span class="cart-summary__container"><p class="cart-summary__text">Subtotal: </p> <p class="cart-summary__price">x</p></span>
          <span class="cart-summary__container"><p class="cart-summary__text">Envío: </p> <p class="cart-summary__price">x</p></span>
          <span class="cart-summary__containerTotal"><p class="cart-summary__total">Total: </p> <p class="cart-summary__totalPrice">x</p></span>
        </article>
        <article>
            <button class="btn btn--primary btn-cart__large">IR A PAGAR</button>
        </article>
    </section>
    </main>
    <!--CUERPO: Fin del Main-->

    <footer class="footer">
      <!--PIE: Inicio del Footer-->
      <nav class="navbar container">
        <!--barra de navegacion en el footer-->
        <ul class="navbar__item">
          <li class="navbar__item">
            <a class="navbar__link" href="../../pages/shop/shop.html">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="../../pages/admin/login.html"
              >INGRESAR</a
            >
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="../../pages/admin/contact.html"
              >CONTACTO</a
            >
          </li>
        </ul>
        <picture class="footer__logo">
          <img
            src="../../img/branding/isotype.svg"
            alt="Isotipo de la marca Funkoshop"
          />
        </picture>
      </nav>

      <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <!--PIE: Fin del Footer-->

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
