<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Crear Nuevo Item | Funkoshop</title>
    <meta name="description" content="page-mauro">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
	<header><!--CABECERA: Inicio del Header-->
		<nav class="navbar container">
			<picture class="navbar__logo">
				<a href="/">
					<img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
				</a>
			</picture>

			<ul class="navbar__menu">
				<li class="navbar__item">
					<a class="navbar__link" href="/pages/shop/shop.html">VER TIENDA</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="/admin">ADMIN</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="/">SALIR</a>
				</li>
			</ul>
		</nav>
	</header><!--Fin del Header-->
    <main class="edit">
        <form action="/admin/create" method="post" enctype="multipart/form-data">
            <section class="producto container">
                <article class="edit-item">
                <h3 class="edit-item__text">Crear item</h3>
                    <div class="edit-contenedor">
                        <!-- Selector de Categoría -->
                        <div class="edit-categoria">
                            <p class="admin-select">
                              Categoría: 
                                <select class="admin-select__option create-select" name="categoria" id="categoria">
                                  <% categories.forEach(function(category) { %>
                                    <option value="<%= category.category_name %>"><%= category.category_name %></option>
                                  <% }); %>
                                </select>
                            </p>
                        </div>
                        <!-- Selector de Licencia -->
                        <div class="edit-categoria">
                            <p class="admin-select">
                            Licencia: 
                                <select class="admin-select__option create-select" name="licencia" id="licencia">
                                <% licences.forEach(function(licence) { %>
                                    <option value="<%= licence.licence_name %>"><%= licence.licence_name %></option>
                                <% }); %>
                                </select>
                            </p>
                        </div>
                    </div>
                </article>
                <article class="description">
                    <div class="admin-form">
                        <label class="admin-label" for="Nombre">
                            Nombre del producto:
                        </label>
                        <input class="admin-input create-input" type="text" name="product_name" id="Nombre" placeholder="Kakashi Hatake Shippuden Saga" size="40">
                    </div>
                    <div class="admin-area">
                        <textarea class="admin-textarea create-select" name="product_description" cols="60" rows="6">Descripción del producto</textarea>
                    </div>
                </article>
            </section> 
            <section class="precio container">
                <article class="precio__row">
                    <div class="admin-form">
                        <label class="admin-label" for="SKU">
                            SKU:
                        </label>
                        <input class="admin-input create-input" type="text" name="sku" id="SKU" placeholder="SSK111AB001" size="10">
                    </div>
                    <div class="admin-form">
                        <label class="admin-label" for="Precio">
                            Precio:
                        </label>
                        <input class="admin-input create-input" type="text" name="price" id="Precio" placeholder="$ 0.000,00" size="10">
                    </div>
                    <div class="admin-form">
                        <label class="admin-label" for="Stock">
                            Stock:
                        </label>
                        <input class="admin-input create-input" type="text" name="stock" id="Stock" placeholder="0" size="2">
                    </div>
                </article>
                <article class="precio__row">
                        <div class="admin-form">
                            <label class="admin-label" for="Descuento">
                                Descuento:
                            </label>
                            <input class="admin-input create-input" type="text" name="discount" id="Descuento" placeholder="0%" size="3">
                        </div>
                        <label class="admin-select" for="Cuotas">
                            Cuotas: 
                        <select class="admin-select__box create-select" name="dues" id="Cuotas">
                            <option value="3">3 Cuotas sin interés</option>
                            <option value="6">6 Cuotas sin interés</option>
                            <option value="9">9 Cuotas con interés</option>
                            <option value="12">12 Cuotas con interés</option>                 
                        </select>
                        </label>
                </article>
            </section>
            <section class="edit-images container">
                <div class="admin-form">
                    <label class="admin-label" for="subir-archivos">Imágenes: </label>
                    <input class="upload-files" type="file" name="images" id="subir-archivos" multiple>
                </div>
                <!-- Botones para enviar y limpiar el formulario -->
                <button type="submit" class="admin-submit">Crear Producto</button>
                <button type="reset" class="admin-submit">Limpiar</button>
            </section>
        </form>    
    </main>
	<footer class="footer"><!--PIE: Inicio del Footer-->
		<nav class="navbar container"><!--barra de navegacion en el footer-->
			<ul class="navbar__item">
				<li class="navbar__item">
					<a class="navbar__link" href="/pages/shop/shop.html">SHOP</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="/auth/register">REGISTRARSE</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="/auth/login">INGRESAR</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="/pages/admin/contact.html">CONTACTO</a>
				</li>
			</ul>
			<picture>
				<img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop"> 
            </picture>
		</nav>
	   
		<p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
	</footer><!--PIE: Fin del Footer-->

	<!--Scripts-->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>
</html>