<footer class="footer"><!--PIE: Inicio del Footer-->
    <nav class="navbar container"><!--barra de navegacion en el footer-->
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">INGRESAR</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li>
        </ul>
        <picture>
            <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" >
          </picture>
    </nav>
   
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer><!--PIE: Fin del Footer-->

<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>