<%- include('../partials/header') %>
<main class="shop__container">
    <picture class="error">
        <img src="../../img/dinopool.png" alt="imagen de error">
        <div class="error error-text">
            <h1>Ups.. por aquí no hay nada...</h1>
            <button class="btn btn--primary btn--large"><a href="/"> Volver al Inicio </a></button>
        </div>
    </picture>
</main>
<%- include('../partials/footer') %>